@import "./settings/_fonts.scss";

.who-help {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;

    .who-help-title {
        font-size: 38px;
    }

    .who-help-tribal {
        background: url("../assets/img/Decoration.svg") no-repeat;
        height: 33px;
        width: 253px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .who-help-who {
        display: flex;
        justify-content: space-between;
        width: 700px;

        .who-help-button {
            width: 200px;
            height: 80px;
            background: none;
            font-size: 24px;
            border: none;
            outline: none;
        }

        .who-help-button:hover {
            border: 0.75px solid black;
            cursor: pointer;
        }

    }

    .who-help-description {
        font-size: 22px;
        width: 500px;
        text-align: center;
    }

    .who-help-list {
        height: 350px;
        width: 1100px;
        // border: 1px solid black;

        ul {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .who-help-option {
                display: flex;
                height: 50%;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                border-bottom: 1px solid black;

                .option-details {

                    .option-name {
                        font-family: $font-alt;
                        font-size: 26px;
                        font-weight: 300;
                        color: #3C3C3C;
                    }
    
                    .option-info {
                        font-family: $font-alt;
                        font-size: 18px;
                        font-weight: 300;
                        color: #3C3C3C;
                    }

                }

                .option-tags {
                    font-family: $font-alt;
                        font-size: 18px;
                        font-weight: 300;
                        color: #3C3C3C;
                }

            }

            .who-help-option:last-child {
                border-bottom: none;
            }

        }

    }

    .who-help-pagination {
        height: 50px;
        width: 150px;
        border: 1px solid black;
    }

}